@import url("https://fonts.googleapis.com/css2?family=Brawler:wght@400;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: #ffffff;

  color: #602f0e;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-left: auto;
}
.header__icon {
  display: none;
}

.header__icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 5;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 52px;
  background: #f7e4c6;
}

.header__background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;

  z-index: -1;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  background: #f7e4c6;
}
.header.is-open .header__background {
  left: 0;
}
.header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: end;
}
.policy-terms-header__button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__icon {
  display: none;
}
.header__icon-button {
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}

.header__icon--menu {
  display: block;
}

.header__icon-button.is-open .header__icon--menu {
  display: none;
}

.header__icon-button.is-open .header__icon--close {
  display: block;
}

.navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 6px 16px;
  position: relative;
}

.navigation__list {
  display: flex;
  flex-direction: column;

  align-items: center;

  top: 130px;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 999;

  padding: 32px;

  gap: 28px;
  background: #f7e4c6;
}
.navigation__list.is-open {
  right: 0;
}
.navigation__link {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: #602f0e;

  padding-bottom: 0px;
  border-bottom: 1px solid transparent;
}
.navigation__link:hover,
.navigation__link:focus {
  font-size: 18px;
}
.header.is-open {
  background-color: transparent;
}
.navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .navigation-img {
    display: flex;
  }
  .policy-terms-header__icon--menu {
    display: none;
  }

  .header {
    width: 100%;

    height: 46px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;
  }
  .header__background {
  }

  .header__icon-button {
    display: none;
  }

  .navigation {
    display: flex;

    flex-direction: row;

    flex: 1;
    padding: 0;

    width: 1440px;
    margin: auto;
  }
  .navigation__list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;

    padding-block: 0;
    flex: 1;
    gap: 30px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }
  .navigation__link {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding: 0px 50px;
    text-decoration: none;
  }

  .header__icon-home-img {
    display: none;
  }
  .navigation__item-desk {
    display: none;
  }
}

.home {
  width: 375px;
  height: 812px;
  padding: 112px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  margin: auto;
}

.home__container-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-title-img {
  width: 343;
  height: 164.8412322998047px;
}
.home-title {
  font-family: Brawler;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 2px 2px 10px #0000004d;
  padding-top: 24px;
}

.home__google-button_image {
  width: 209px;
  height: 89px;
}
.home__google-button_link:hover .home__google-button_image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .home {
    width: 1440px;
    height: 754px;
    padding: 116px 811px 0px 80px;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .home-title-img {
    width: 549px;
    height: 264px;
  }
  .home-title {
    font-family: Brawler;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    padding-top: 24px;
    width: 385px;
  }
}
.about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  background: #f7e4c6;
}

.about-title {
  font-family: Brawler;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.about-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  padding: 32px 0px 0;
}

@media screen and (min-width: 1200px) {
  .about {
    padding: 100px 80px;
    width: 1440px;
    height: 310px;
    display: flex;
    gap: 60px;
  }

  .about-title {
    font-family: Brawler;
    font-weight: 700;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: 0%;

    text-transform: uppercase;
  }
  .about-text {
    padding: 0;
    width: 754px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.reviews-title {
  color: #ffffff;
}
.reviews {
  width: 375px;
  margin: auto;
  height: 466px;
  padding: 40px 0 0px 16px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/reviews/Reviews\ \(1\).png");
}

.reviews-list {
  padding-top: 32px;
}
.reviews-item {
  margin: 0 4px;
  width: 322px;
  height: 326px;
  border-radius: 10px;
  padding: 4px;
  background: #fff4e0;
  box-shadow: 0px 4px 30px 0px #00000033;
}
.reviews-item-two {
  width: 314px;
  height: 318px;

  border-radius: 10px;
  padding: 24px;

  border: 2px solid #ad7042;
}
.reviews-img {
  margin: auto;
}
.reviews-text-bold {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  height: 100px;
  margin: 24px 0 79px;
}
.reviews-text-two {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}
.reviews-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;

  color: #89756c;
}

@media screen and (min-width: 1200px) {
  .reviews {
    width: 1440px;
    height: 622px;
    background-image: url("/img/reviews/Reviews.png");
    padding: 100px 0px 100px 80px;
  }

  .reviews-list {
    padding-top: 60px;
  }
  .reviews-item {
    margin: 0 12px;
    width: 284px;
    height: 326px;
    border-radius: 10px;
    padding: 4px;
  }
  .reviews-item-two {
    width: 276px;
    height: 318px;
    padding: 24px;
    border-width: 2px;
  }
}

.faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}
.faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.faq-item {
  border-radius: 10px;
  padding: 22px 16px;

  background: #fff4e0;
  border: 1px solid #f3dbc0;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Brawler;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.toggle-button {
  background: none;
  border: none;

  cursor: pointer;
}

.faq-answer {
  display: none;
  padding-top: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: #89756c;
}
@media screen and (min-width: 1200px) {
  .faq {
    padding: 80px 100px 100px 100px;
    width: 1440px;
  }
  .faq-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .faq-item {
    border-radius: 10px;
  }
}
.gallery {
  width: 375px;
  margin: auto;
  padding: 40px 0 40px 16px;
}

.gallery__list {
  width: auto;
  padding-top: 32px;
  margin: auto;
}
.gallery__item {
  width: 332px;
  height: 181px;
  border-radius: 10px;

  overflow: hidden;
  position: relative;
  margin: 0 4px;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 1200px) {
  .gallery {
    width: 1440px;

    padding: 100px 0 100px 80px;
  }

  .gallery__item {
    width: 780px;
    height: 439px;
    border-radius: 10px;

    margin: 0 12px;
  }

  .gallery__list {
    padding: 60px 0 0px;
  }
}
.features {
  width: 375px;
  height: 1404px;
  margin: auto;
  padding: 30px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Features.png");
}

.features-list {
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.features-item {
  width: 343px;
  height: 214px;
  border-radius: 10px;
  padding: 4px;
  background: #fff4e0;
  box-shadow: 0px 4px 30px 0px #00000033;
}
.features-item-two {
  width: 335px;
  height: 206px;
  border-radius: 10px;
  border: 2px solid #ad7042;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.features-text-bolds {
  width: 287px;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 10px;
  background: #fe9e43;
}
.features-text-bold {
  font-family: Brawler;
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  width: 287px;

  padding-top: 4px;
  padding-bottom: 4px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-width: 2px 0 2px 0px;

  border-style: solid;

  border-color: #ffbf82;
}
.features-text {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: #89756c;
}

@media screen and (min-width: 1200px) {
  .features {
    width: 1440px;
    height: 934px;
    background-image: url("/img/Features.png");
    padding: 100px 80px 0px;
  }

  .features-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    width: 628px;
    height: 175.3333282470703px;
    border-radius: 10px;
    padding: 4px;
  }
  .features-item-two {
    width: 620px;
    height: 167.3333282470703px;
    border-radius: 10px;
    border-width: 2px;
  }
  .features-text-bolds {
    width: 572px;
    height: 44px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .features-text-bold {
    font-family: Brawler;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    width: auto;

    padding-top: 4px;
    padding-bottom: 4px;
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-width: 2px 0 2px 0px;

    border-style: solid;

    border-color: #ffbf82;
  }
  .features-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.footer {
  background: #f7e4c6;
  color: #602f0e;
  padding: 40px 16px 32px;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 14px;
}
.footer-text {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;

  text-decoration: none;
  color: #602f0e;
}

.footer-copyright {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .footer {
    padding: 80px 100px 60px;
    width: 1440px;
    margin: auto;
  }
  .footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 160px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;

    gap: 32px;
  }
  .footer-text {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .footer-copyright {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}
.policy-terms-container {
  padding: 100px 16px 40px;
  color: #602f0e;
}
.policy-terms-title {
  font-family: Brawler;
  font-weight: 700;
  font-size: 40px;
  line-height: 90%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.policy-terms-text {
  padding-top: 20px;
  font-family: Brawler;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.policy-terms-texts {
  padding-top: 8px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}
.policy-terms-text-one {
  padding-top: 20px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}

.terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}

.terms-lists {
  list-style-type: disc;
  padding-left: 25px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}
.email-link {
  color: inherit;
  text-decoration: none;
}
.email-link-color {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .policy-terms-container {
    padding: 124px 100px 60px;
    width: 1440px;
    margin: auto;
  }
  .policy-terms-title {
    font-family: Brawler;
    font-weight: 700;
    font-size: 40px;
    line-height: 90%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding-top: 40px;
  }

  .policy-terms-text {
    padding-top: 40px;
    font-family: Brawler;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
}

.cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;

  padding: 16px;
  background: #ffffff;

  z-index: 1000;

  display: none;
}

.cookie-popup-text-two {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: #602f0e;
}
.cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.cookie-button {
  border: none;
  background-color: transparent;

  border: 1px solid #fe9e43;
  width: 167.5px;
  padding: 16px 0;
  border-radius: 4px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  text-transform: uppercase;

  color: #fe9e43;
}
#accept-cookies {
  background: #fe9e43;

  color: #ffffff;
}
.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .cookie-popup-text-two {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 748px;
  }
  .cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;

    padding: 32px;
    display: none;
  }

  .cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
